<div>
    <h1 class="p-1 text-primary"><i><b>Bus Reservation</b></i></h1>
</div>

<div class="container w-50 mt-5">

    <form  [formGroup]="login_form" (ngSubmit)="onSubmitLogin()" class="form-control" id="loginForm">

        <h3>Login Form</h3>

        <div class="form-group">
            <label for="username" class="form-label">User Name</label>
            <input class="form-control" type="text" name="username" formControlName="username" placeholder="Enter User Name">
        </div>
        
        <div class="form-group">
            <label for="pass" class="form-label">Password</label>
            <input class="form-control" type="password" name="pass" formControlName="pass" placeholder="Enter Password">
        </div>

        <div class="form-group mt-2">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div style="text-align:right;"><a routerLink="/register">New User? Create an account</a></div>
        
    </form>

</div>
