<div class="container d-flex flex-column justify-content-center mb-5">
    <h2 class="m-auto p-1">Welcome, {{username}}!</h2>
    <h3  class="p-1 m-auto">Here are your bookings!</h3>

    <div class="row d-flex justify-content-center mt-2">
        <div class="col-sm-6">
            <table *ngFor="let ticket of validTickets" class="table table-bordered" style="background-color: rgb(200, 198, 198);">
                <tbody>
                    <tr>
                        <th>Ticket Id</th>
                        <td>{{ticket.ticketID}}</td>
                    </tr>
                    <tr>
                        <th>Source</th>
                        <td>{{ticket.source}}</td>
                    </tr>
                    <tr>
                        <th>Destination</th>
                        <td>{{ticket.destination}}</td>
                    </tr>
                    <tr>
                        <th>AC</th>
                        <td>{{ticket.ACStatus}}</td>
                    </tr>
                    <tr>
                        <th>Sleeper</th>
                        <td>{{ticket.sleeperStatus}}</td>
                    </tr>
                    <tr>
                        <th>No. of seats</th>
                        <td>{{ticket.seats}}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ticket.date}}</td>
                    </tr>
                    <tr>
                        <th>Time</th>
                        <td>{{ticket.time}}</td>
                    </tr>
                    <tr>
                        <th>Total Cost</th>
                        <td>{{ticket.totalBill}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      
    </div>
</div>