<div>
    <h1 class="p-1 text-primary"><i><b>Bus Reservation</b></i></h1>
</div>
<div class="container mb-5 mt-5 w-50">
    <form [formGroup]="register_form" (ngSubmit)="onSubmitRegister()" class="form-control container">

        <h3>Register Form</h3>

        <div class="form-group">
            <label for="fname" class="form-label">First name:</label><br>
            <input class="form-control" type="text" id="fname" name="fname" formControlName="fname">
        </div><br>
        <div class="form-group"> 
            <label for="lname" class="form-label">Last name:</label><br>
            <input  class="form-control" type="text" id="lname" name="lname" formControlName="lname">
        </div><br>
        <div  class="form-group"> 
            <label for="username" class="form-label">User name:</label><br>
            <input  class="form-control" type="text" id="username" name="username" formControlName="username">
        </div><br>
        <div class="form-group"> 
            <label for="email" class="form-label">Email:</label><br>
            <input  class="form-control"  type="text" id="email" name="email" formControlName="email">
        </div><br>
        <div class="form-group">
            <label for="password" class="form-label">Password:</label><br>
            <input  class="form-control" type="text" id="password" name="password" formControlName="password">
        </div><br>
        <div class="form-group"> 
            <label for="repassword" class="form-label">Retype Password:</label><br>
            <input  class="form-control" type="text" id="repassword" name="repassword" formControlName="repassword">
        </div><br>
        <input class=" btn btn-primary"  type="submit" value="Sign Up">
        <div style="text-align:right;"><a routerLink="/login">Already User? Login</a></div>


    </form>
    </div>